{% extends 'theme.html' %}
{% import 'macro/display_helper.html' as helper %}

{% block title %}Generate Tags{% endblock %}

{% block jquery %}
var clipboard = new ClipboardJS('.btn');

clipboard.on('success', function(e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);

    $.notify("copied!!", "success");
    e.clearSelection();
});

clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
    $.notify("Sorry, failed to copy tags, please copy manually!!", "error");
});

$(".cat-chk-box").change(function() {
    if ($(this).is(':checked')) {
        $(this).parents("tr").find(".tag-chk-box").each(function() {
            $(this).prop("checked", true);
        }); 
    } else {
        $(this).parents("tr").find(".tag-chk-box").each(function() {
            $(this).prop("checked", false);
        }); 
    }
});

{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="row" style="padding-top: 80px;">
                <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-{{category}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                </div>
             </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container page-adjust">
        <div class="row">
            <div class="card w-100">
                <div class="card-header bg-primary">
                    <div class="d-flex">
                        <div class="mr-auto p-2">Generate(d) Tags</div>
                    </div>
                </div>
                <div class="card-body">
                {%- if generated -%}
                    <div class="container-fluid">
                        <div class="row">
                            <textarea class="form-control col-12" id="generated_tags" readonly aria-readonly="true">{{ generated }}</textarea>
                        </div>
                        <div class="row justify-content-between" style="padding-top: 10px;">
                            <button data-clipboard-target="#generated_tags" class="btn btn-success">
                                Copy To Clipboard!
                            </button>
                            <a href="https://www.buymeacoffee.com/ninadmhatre" target="_blank">
                                <img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee" style="height: 50px !important;width: 217px !important;" >
                            </a>
                        </div>
                    </div>
                {%- else -%}
                    {% if not tags %}
                        <div class="alert alert-danger" role="alert">
                            <span>There are no tags created for user, please add some tags first!!</span>
                        </div>
                        <div class="container row">
                            <a class="btn btn-primary" href="{{ url_for('tags.add_tags') }}">Add New Tags</a>
                        </div>
                    {% else %}
                        <form class="w-100" action="" method="post" enctype="multipart/form-data">
                            {{ helper.addCSRFToken() }}
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr class="row" style="margin:0 !important">
                                        <th class="col-4">Category</th>
                                        <th class="col-8">Tags</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- for category in tags -%}
                                        <tr class="row" style="margin:0 !important">
                                            <td class="col-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input cat-chk-box" type="checkbox" name="cat_sel_{{ category }}" id="cat_sel_{{ category }}" title="select all tags under '{{ category }}' category">
                                                    <label class="form-check-label" for="cat_sel_{{ category }}">{{ category }}</label>
                                                </div>
                                            </td>
                                            <td class="col-8">
                                                {%- for t in tags[category] -%}
                                                <div class="form-check">
                                                    <input class="form-check-input tag-chk-box" type="checkbox" name="tag_sel_{{ category }}:{{ t }}" id="tag_sel_{{ category }}:{{ t }}" title="select this tag">
                                                    <label class="form-check-label" for="tag_sel_{{ category }}:{{ t }}">{{ t }}</label>
                                                </div>
                                                {%- endfor -%}
                                            </td>
                                        </tr>
                                    {%- endfor -%}
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary align-center">Generate</button>
                        </form>
                    {% endif %}
                {%- endif -%}
            </div>
            </div>
        </div>
    </div>
{% endblock %}