{% extends 'theme.html' %}
{% import 'macro/display_helper.html' as helper %}

{% block title %}Add Tags{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-{{category}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                </div>
             </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container page-adjust">
        <div class="row">
            <div class="card w-100">
                <div class="card-header bg-primary">
                    <div class="d-flex">
                        User Tags
                    </div>
                </div>
                <div class="card-body">
                    {% if not tags %}
                        <p>There are no tags for user</p>
                        <a href="{{ url_for('tags.add_tags') }}">Add New Tags</a>
                    {% else %}
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <td>Category</td>
                                    <td>Tags</td>
                                </tr    >
                            </thead>
                            <tbody>
                                {%- for category in tags -%}
                                    <tr>
                                        <td>{{ category }}</td>
                                        <td>{{ tags[category] | join(',') }}</td>
                                    </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                    {% endif %}
                    <div class="pull-right">
                        <a class="btn btn-success btn-sm" role="button" href="{{ url_for('tags.add_tags') }}" title="Add more tags">Add</a>
                        <a class="btn btn-warning btn-sm" role="button" href="{{ url_for('tags.manage_tags') }}" title="Edit/Delete tags">Manage</a>
                        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('tags.generate_tags') }}" title="Generate hashtags">Generate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}