{% extends 'theme.html' %}
{% import 'macro/display_helper.html' as helper %}
{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container page-adjust">
        <div class="row">
            <div class="card w-100">
                <div class="card-header bg-primary">
                <div class="d-flex">
                    <div class="mr-auto p-2">Contact Us</div>
                </div>
            </div>
                <div class="card-body">
                    Nothing is perfect! In case you find any bug with app / have a request / suggestion / feedback, in that case please drop an email <a href="mailto:info.savetags@gmail.com">info.savetags@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}