{% extends 'theme.html' %}
{% import 'macro/display_helper.html' as helper %}
{% block title %}Terms{% endblock %}

{% block body %}
    <div class="container page-adjust">
        <div class="row">
            <div class="card w-100">
                <div class="card-header bg-primary">
                <div class="d-flex">
                    <div class="mr-auto p-2">Terms</div>
                </div>
            </div>
                <div class="card-body">
                    I am a single developer and this site was created with good intentions in my free time so here are
                    couple of generic terms. These are not written with lawfully correct language. Keep in mind this is
                    a free site and you agreeing to use it as is, for any loss of data i can not be held responsible.
                    <ol>
                        <li>This is beta site!! please backup your data!</li>
                        <li>I am not responsible for your data loss, this is a free service.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}