{% extends 'theme.html' %}

{% block title %}Opps!{% endblock %}

{% block body %}
    <div class="container  page-adjust">
        <div class="row">
            <div style="color: red; padding: 10px 0px;">
                {{ err_msg }}
            </div>
            <div style="padding-top: 10px; padding-bottom: 10px;">
                On lighter note, How about a Joke?
            </div>
            <div class="xkcd_img">
                <img src="{{ url_for('static', filename='media/incident.png') }}" alt="401 page, This is another type of incident which should be reported!"/>
            </div>
            <div style="font-size: 80%; color:gray; padding: 10px 0px;">
                picture courtesy, XKCD!
            </div>
        </div>
    </div>
{% endblock %}