{% extends 'theme.html' %}
{% import 'macro/display_helper.html' as helper %}

{% block title %}Save Tags (β){% endblock %}

{% block topnavigation %}
    {{ helper.addTopNavigation(current_user, show_profile=False) }}
{% endblock %}

{% block body %}
        <header class="masthead">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-lg-7 my-auto">
              <div class="header-content mx-auto">
                <h1 class="mb-5">Organize your hashtags easy way, <b>for free!</b></h1>
                <h4 class="mb-5"><b>Create, Update & Delete Tags Privately With Full Control.</b></h4>
                <h6 class="mb-5"><b>supports unicode characters "#netherlands🇳🇱🌷 #india🇮🇳 #何か #ఏదో #काहीतरी"</b></h6>
                <a href="{{ url_for('auth.login') }}" class="btn btn-outline btn-xl js-scroll-trigger" title="Login With Google">Start Now for Free!</a>
              </div>
            </div>
            <div class="col-lg-5 my-auto">
              <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
              <img src="{{ url_for('static', filename='save-tag-all-in-one-pic-box.png') }}" class="image img-fluid" alt="">
            </div>
          </div>
        </div>
        </header>
{% endblock %}
