{% extends 'theme.html' %}
{% import 'macro/display_helper.html' as helper %}

{% block title %}Save Tags (β){% endblock %}

{% block topnavigation %}
    {{ helper.addTopNavigation(current_user, show_profile=False) }}
{% endblock %}

{% block body %}
        <header class="masthead">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-lg-7 my-auto">
              <div class="header-content mx-auto">
                <h1 class="mb-4">Do you use lot of #hashtags? & Struggling to manage them effectively?</h1>
                <h4 class="mb-4">Look no more, Manage your #hashtags effectively <b>For Free</b> & with <b>Full Control</b>.</h4>
                <h6 class="mb-4"><b>supports unicode characters "#netherlands🇳🇱🌷 #india🇮🇳 #何か #ఏదో #काहीतरी"</b></h6>
                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="btn btn-outline btn-xl js-scroll-trigger" title="Login With Google">Start Now for Free!</a>
                {% else %}
                    <a href="{{ url_for('tags.add_tags') }}" class="btn btn-outline btn-xl js-scroll-trigger" title="Start Creating Tags">Create Tags Now!</a>
                {% endif %}
              </div>
            </div>
            <div class="col-lg-5 my-auto">
              <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
              <h6 class="mb-3">Complete workflow in one image, picture is worth million words!</h6>
              <img src="{{ url_for('static', filename='save-tag-all-in-one-pic-box.png') }}" class="image img-fluid" alt=""
                   title="Entire functionality explained in one picture.">
            </div>
          </div>
        </div>
        </header>
{% endblock %}
